registry=https://registry.npmjs.com/
@electricui:registry=http://registry.eui.io/
//registry.eui.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJib2x0IiwiY3JlYXRlZCI6MTU1NDgyMjYzNSwiZWR1Ijp0cnVlLCJlbWFpbCI6InNjb3R0QGVsZWN0cmljdWkuY29tIiwiZXhwIjoxNTc0OTgzNDM5LCJpYXQiOjE1NzIzNTU0MzksImlzcyI6ImJvbHQiLCJuYW1lIjoiU2NvdHQiLCJuYmYiOjE1NzIzNTUxMzksInVzZXJpZCI6IkErK3pBb24rSlE0NkJza1p6dzQrTnEvdVJpS21pQ2lLZS8vR0VSVT0iLCJ2ZXJpZmllZCI6dHJ1ZX0.goNADHZioa38fF5WTFVFHH_vHjNWyFiu2BvTdB5Ee8w
